name: Build & Deploy

on:
  push:
    branches: [ "homolog" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      run: go build
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: workshop-ci-app-dev
        path: ./workshop-ci-app

  test: 
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - uses: actions/checkout@v3
      - run: go test -v ./... 

  deploy-heroku:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v3

    - name: Heroku Action
      uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_api_key: ${{Secrets.HEROKU_API_KEY}}
        heroku_email: rodrigo.silva7@yahoo.com.br
        heroku_app_name: workshop-ci-web-app-dev

  deploy-digital-ocean:
    runs-on: ubuntu-latest
    needs: test
    name: Deploy App
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: DigitalOcean App Platform deployment
      uses: digitalocean/app_action@main
      with:
        app_name: workshop-ci
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
