name: Build & Deploy

on:
  push:
    branches: [ "homolog" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Build
      run: go build
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: workshop-ci-app-dev
        path: ./workshop-ci-app

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:

    - name: Download math result for job 1
      uses: actions/download-artifact@v3
      with:
        name: workshop-ci-app-dev

    - name: Heroku Action
      uses: CDNievas/heroku-action@v1.0
      with:
        heroku_api_key: ${{Secrets.HEROKU_API_KEY}}
        heroku_email: rodrigo.silva7@yahoo.com.br
        heroku_app_name: workshop-ci-web-app-dev
